.error_box {
    height: 80vh;
    margin: 0px 2vw;
    position: relative;
}

.commits__container {
    position: relative;
    top: 0;
    align-self: flex-start;
}

.commits__container p {
    color: white;
    top: 0;

}

.commit {
    opacity: 0.8 !important;
}

.commit:hover {
    opacity: 1 !important;
}